<p style="margin-top:20px; margin-left:10px;">
  <strong>Titulo:</strong>
  <%= @post.title %>
</p>

<p>
  <strong style="margin-left:10px;">Texto:</strong>
  <%= @post.body %>
</p>

<div id="comments" style="margin-left:10px;">
	<%= render :partial =>@post.comments.reverse %>
</div>

<%= form_for([@post,Comment.new],remote:true)do |f|%>
<p style="margin-left:10px;"><%= f.label :body,"Nuevo Comentario"%><br/>
	<%= f.text_area :body %>
</p>
<section class="row" style="margin-left:10px;">
  <div class="small-8 columns">
    <div class="actions">
      <%= f.submit'Agregar Comentario',:class =>'button success small radius'%>
    </div>
  </div>
</section>
<%end%>

<p style="margin-top:20px; margin-left:10px;">
<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Atras', posts_path %>
</p>